{% extends "base.html" %}


{% include "challenges/includes/headers.html" %}
        {% block content %}

        <h2>Select a Month:</h2>
        {% comment %} <ul class="list-group">
            {% for mon in challenges.keys %}
                <li class="list-group-item">
                    <a href="{% url 'month' mon %}">{{ mon | capfirst }}</a>
                </li>
            {% endfor %}
        </ul> {% endcomment %}

        <ul class="list-group">
            {% for mon in months %}
                <li class="list-group-item">
                    <a href="{% url 'month' mon %}">{{ mon | capfirst }}</a>
                </li>
            {% endfor %}
        </ul>

        {% endblock %}
        