{% extends "base.html" %}
{% block title %}
{{ month | capfirst }} Challenge
{% endblock title %}
{% block content %}
{% include "challenges/includes/headers.html" %}

<div class="d-flex flex-column justify-content-center align-items-center my-5">
    <h3 class="mb-4">{{ month | capfirst }}</h3> <!-- Added margin-bottom for space -->
    
    {% if not challenge %}
        <div class="text-center">There is no challenge for {{ month | capfirst }}!</div>
    {% else %}
        <div class="text-center">{{ challenge }}</div>
    {% endif %}
</div>
{% endblock %}
